@model halpert.Models.User

<link href="~/Content/DeketeMeLoginStyle.css" rel="stylesheet" />
<div class="wrapper fadeInDown">
    <br /><br /><br /><br /><br /><br />
    <div id="formContent">
        <!-- Tabs Titles -->
        <h1>HALPERT</h1>
        <br />
        <!-- Login Form -->
        <form action="/Accounts/Login" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @type = "text", @id = "login", @class = "fadeIn second", @name = "login", @placeholder = "email" } })
            <br />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @type = "text", @id = "password", @class = "fadeIn third", @name = "login", @placeholder = "password" } })
            <br />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <br />
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>


        <!-- new account -->
        <div id="formFooter">
            <a class="underlineHover" href="/Accounts/Register">New Account?</a>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
